{
    "projects": {
        "app": {
            "extensions": {
                "endpoints": {
                    "storybook": {
                        "url": "https://url.com/v1/api",
                        "headers": {
                            "token": "TOKEN",
                            "version": "draft"
                        }
                    },
                    "github": {
                        "url": "https://api.url.com/graphql",
                        "headers": {
                            "authorization": "Bearer TOKEN"
                        }
                    }
                }
            }
        }
    }
}
